* {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.space-around {
	justify-content: space-around;
}


.nav {
	height: 55px;
	border-bottom: 1px solid #999;
	padding: 5px;
}

#logo-small {
	width: auto;
	height: 100%;
	min-width: 237px;
}

.container {
	width: 90%;
	max-width: 500px;
	margin: 20px;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 3px;
}

.cohort-header * {
	vertical-align: middle;
}
.cohort-image {
	width: auto;
	height: 40px;
}

.cohort-description {
	font-size: .8rem;
}
.cohort-button {
	align-self: flex-end;
}

#login {
	margin: 20px auto 20px auto;	
}

.linkedin-login {
	box-sizing: border-box;
	display: block;
	margin: 0px auto 0px auto;
	border: 0px;
	border: 2px solid transparent;
	padding: 3px 5px 3px 5px;
	background: #0976b4;
	color: #eee;
}

.linkedin-login:active {
	border: 2px solid #999;
}

hr {
	border: 0;
	border-bottom: 1px solid #999;
}